/*styles.css*/
* {
  box-sizing: border-box;
}

#canvasholder {
  width: 75%;
  height: 100%;
  float: left;
}

.link {
  display: block;
}

#mainpage {
  /* display: flex;
  flex-direction: row; */
  height: 100%;
  width: 100%;
  background-color: #00aeff;
}

.rightpanel {
  background-color: whitesmoke;
  width: 25%;
  position: relative;
  height: 100%;
  float: right;
  padding-left: 8px;
  padding-right: 8px;
  font-family: sans-serif;
  justify-content: center;
  flex-direction: column;
}

.sliderdiv {
  background-color: rgb(226, 226, 226);
  border: .2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 14px;
  margin-top: 8px;
}

.mylightdiv {
  background-color: rgb(104, 104, 104);
}

#app {
  width: 100%;
  height: 100%;
}

.checkboxes label {
  font-size: 10px;
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
}

.myhead {
  padding-top: 9px;
}

.checkboxes input {
  vertical-align: middle;
  cursor: pointer;
}

.checkboxes label span {
  vertical-align: middle;
  cursor: pointer;
}

.rightpanelouter h2 {
  font-size: 5px;
  font-weight: 100;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  background: #000000;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}



.product-details:hover {
  color: #fff;
  border-color: rgba(0, 174, 255, 0.5);
  background-color: rgba(0, 174, 255, 0.5);
}

.product-details:hover.checked {
  border-color: #00aeff;
  background-color: #00aeff;
}

.checked {
  position: relative;
  color: #fff;
  border-color: #00aeff;
  background-color: #00aeff;
}

.checked:after {
  position: absolute;
  z-index: 2;
  top: -15px;
  right: -15px;
  padding: 5px;
  font-size: 70%;
  border-radius: 4px;
  background-color: tomato;
  content: "Selected";
}